saboga-frontend-old/Dockerfile
.dockerignore
.git
../.gitignore
.gitattributes
svelte/README.md
svelte/.npmrc
svelte/.prettierrc
svelte/.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
.vscode
node_modules
build
package
**/.env