<script>
	export let data;
</script>

<svelte:head>
	<title>Home</title>
	<meta name="" content=""/>
</svelte:head>

<ul>
	{#each data.games as game}
		<li>{game.name}</li>
		<li>{game.game_id}</li>
	{/each}
</ul>
